### Q1

Name the four built-in data structures in python. Give one examples for each

In [1]:
sets = {1,2,3,4,5}
tuples = ("Okocha", 2,45,5, "Ama")
dictionaries = {"Kitchen":45, "Hall":100, "Bedroom":75 }
list = [1,2,3,4,5 ]

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
# 1. A list is mutable while a tuple is not mutable.
#A list is stored in [] while a tuple is stored in ().

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [2]:
animal_list = ["Dog", "Cat", "Goat", "Donkey", "Cow"]

In [3]:
animal_list[:2]

['Dog', 'Cat']

In [4]:
animal_list[-2:]

['Donkey', 'Cow']

In [5]:
animal_list.extend(["Fish", "Monkey", "Bird"])

In [6]:
animal_list

['Dog', 'Cat', 'Goat', 'Donkey', 'Cow', 'Fish', 'Monkey', 'Bird']

In [7]:
#Remove the first two animals from the variable animal_list

animal_list.remove(animal_list[0])
animal_list

['Cat', 'Goat', 'Donkey', 'Cow', 'Fish', 'Monkey', 'Bird']

In [8]:
animal_list.remove(animal_list[0])
animal_list

['Goat', 'Donkey', 'Cow', 'Fish', 'Monkey', 'Bird']

In [9]:
#How many animals are in the animal_list?
len(animal_list)

6

In [17]:
#Create a variable animal_set which stores the set of animal_list
animal_set = set(animal_list)
animal_set

{'Bird', 'Cow', 'Donkey', 'Fish', 'Goat', 'Monkey'}

In [18]:
#How many elements are in the animal_set?
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [19]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [24]:
first= (suitcase[0:2])
first

['sunglasses', 'hat']

In [26]:
middle= (suitcase[2:4])
middle

['passport', 'laptop']

In [28]:
last= (suitcase[-2:])
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [29]:
values = [20,25,30,40,45,50,55,60,65,70]

In [40]:
values.append(35)
values.sort()

In [41]:
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
#when you do not want to add or remove any element from your data

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [50]:
region_capital = {"Greater Accra":"Accra", "Eastern":"Koforidua", "Ashanti": "Kumasi", "Northern": "Tamale", "Brong Ahafo": "Sunyani"}

In [54]:
region_capital.keys()

dict_keys(['Greater Accra', 'Eastern', 'Ashanti', 'Northern', 'Brong Ahafo'])

In [55]:
region_capital.values()

dict_values(['Accra', 'Koforidua', 'Kumasi', 'Tamale', 'Sunyani'])

### Q8

`values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [56]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

In [57]:
len(values)

15

In [61]:
highest_occuring = max(set(values), key=values.count)

In [62]:
values_set = set(values)

In [64]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [59]:
squares = {}
for num in range(1, 16):
    squares[num] = num ** 2

In [60]:
squares

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [65]:
my_dict = {'x': list(range(11, 21)),
            'y': list(range(21, 31)),
            'z': list(range(31, 41))}

In [66]:
my_dict

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}

In [68]:
element_fifthx = my_dict['x'][4]
element_fifthy = my_dict['y'][4]
element_fifthz = my_dict['z'][4]

In [69]:
element_fifthx

15

In [70]:
element_fifthy

25

In [71]:
element_fifthz

35