### Q1
List the basic data types in python and give one example each.

In [ ]:
Integers eg. 24
Float eg. 24.2
String eg. "Felix"
Boolean eg. True

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [5]:
x = 4539.85

In [6]:
#(i) a string and assign it to a new variable y#
y = str(x)

In [7]:
type(y)

str

In [8]:
z = int(x)

In [9]:
print(y)

4539.85

In [10]:
print(z)

4539

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

In [ ]:
a. Float
b. Integer
c. String
d. Float
e. Integer
f. Float
g. Boolean
i. String
j. Float
k. Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [17]:
statement_1 = "Thomas Partey is arguably the best player in the Black Stars"
statement_2 = "He is a great addition to the team"

In [18]:
len(statement_1)

60

In [19]:
len(statement_2)

34

In [20]:
len(statement_1) > len(statement_2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
#0 = False
#1 = True

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [30]:
78 > 46 and 78 < 30 and 30 % 2 == 1

False

In [34]:
(8 - 2) % 2 == 0 or 8 % 2 == 1

True

In [35]:
len("bootstrap") == 7 and len("sample") == 6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [47]:
word = "Hello, How are you?"

In [49]:
word[7:10]

'How'

In [50]:
word[7:18]

'How are you'

In [52]:
word[-8:-5]

'are'

In [53]:
word[-1]

'?'

In [54]:
len(word)

19

In [57]:
word[0:18]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [62]:
sentence = "I am very excited"

In [63]:
sentence.upper()

'I AM VERY EXCITED'

In [64]:
sentence.lower()

'i am very excited'

In [65]:
sentence.title()

'I Am Very Excited'

In [67]:
sentence.split()

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [68]:
word = "OneThirtyEight"

In [69]:
word[:3]

'One'

In [71]:
word[3:9]

'Thirty'

In [73]:
word[:9]

'OneThirty'

In [74]:
word[3:]

'ThirtyEight'

In [80]:
word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [81]:
name = "Ault'Kelly"

In [82]:
print(name)

Ault'Kelly